/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap"); */
/* Buttons */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
.btn {
  padding: 10px;
  border: none;
  font-size: 10px;
  color: #fff;
  transition: all 0.2s;
  cursor: pointer;
  display: inline-block;
}
.add-btn {
  background-color: rgb(2, 83, 2);
}
.add-btn:hover {
  background-color: rgb(8, 141, 8);
}
.close-btn {
  background-color: #ba000d;
  width: 100% !important;
}
.close-btn:hover {
  background-color: #f03a1a;
}
.calculate-btn {
  background-color: #1e90ff;
}
.calculate-btn:hover {
  background-color: #44a1fd;
}

/*App*/
.App {
  width: 85%;
  height: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: #f1d8d4 solid 3px;
}
/* Recipes.jsx */
.container {
  width: 100%;
  height: 100%;
  display: flex;
}
.container-1 {
  /* Container for Recipe */
  width: 35%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.container-2 {
  /* Container for RecipeDet*/
  width: 65%;
  margin: 2%;
  overflow-y: auto;
}
.container-3 {
  /* Container for RecipeAddForm*/
  width: 65%;
  overflow-y: auto;
  overflow-x: hidden;
}
.container-4 {
  /* Container for Calculate*/
  width: 65%;
  margin: 2%;
  overflow-y: auto;
  overflow-x: hidden;
}
/* Recipe.jsx */
.recipe-container {
  padding-left: 10px;
  background-color: #f39c12;
  transition: all 0.2s;
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  /* border-bottom: 1px solid rgb(255, 255, 184); */
}
.recipe-container:hover {
  background-color: #ffc567;
  cursor: pointer;
}
.recipe-title {
  cursor: pointer;
  line-height: 45px;
  color: whitesmoke;
}
.edit-recipe-btn {
  display: inline-block;
  background-color: hsl(204, 64%, 44%);
  text-align: center;
  animation-name: slidein;
  animation-duration: 0.1s;
  color: whitesmoke;
  line-height: 45px;
}
.edit-recipe-btn:hover {
  background-color: hsl(204, 82%, 70%);
}
.remove-recipe-btn {
  display: inline-block;
  background-color: #e74c3c;
  text-align: center;
  animation-name: slidein;
  animation-duration: 0.1s;
  color: whitesmoke;
  line-height: 45px;
}
.remove-recipe-btn:hover {
  background-color: #fc7667;
}
.hide {
  display: none;
}
.recipe-btns > * {
  text-align: center;
  cursor: pointer;
  font-size: 15px;
}
.add-calc-btns {
  width: 100%;
  color: whitesmoke;
}
.add-calc-btns > * {
  display: inline-block;
  width: 50%;
  font-size: 15px;
}

/* RecipeDet */
.recipeDet-container {
}
.recipeDet-title {
  margin-bottom: 2%;
}
.recipeDet-des {
  margin-bottom: 2%;
}
.recipeDet-ings {
}

/* RecipeAddForm */
.addForm-container {
  margin: 2%;
}
.add-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.rec-descriptor-text {
  margin-bottom: 8px;
}
.title-input {
  height: 30px;
  margin-bottom: 25px;
  border: #e7803c29 solid 3px;
}
.description-input {
  height: 200px;
  margin-bottom: 25px;
  border: #e7803c29 solid 3px;
  resize: none;
}

.recipe-ing {
  display: flex;
  margin-bottom: 10px;
}
.recipe-ing input {
  display: inline-block;
  border: #e7803c29 solid 3px;
  width: 25%;
  height: 20px;
  margin-right: 5%;
}
.recipe-ing h5 {
  width: 2%;
  margin-right: 2%;
  line-height: 2;
}
.remove-ing {
  background-color: #e74c3c;
  border: none;
  width: 6%;
  color: whitesmoke;
}
.remove-ing:hover {
  background-color: #fc7667;
}
.add-ing {
  border: none;
  background-color: #27ae60;
  color: whitesmoke;
  height: 30px;
  width: 50%;
}
.add-ing:hover {
  background-color: #41da81;
}
.submit-form-btn {
  border: none;
  background-color: rgb(231, 24, 24);
  color: whitesmoke;
  height: 30px;
  width: 50%;
}
.submit-form-btn:hover {
  background-color: rgb(255, 58, 58);
}

/* Calculate.jsx */
.openCalc-btn {
  grid-column: 2/4;
  text-align: center;
  line-height: 3;
  background-color: goldenrod;
  color: whitesmoke;
}
.recipesToCookTitle {
  margin-bottom: 2%;
}
.recipesToCook {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.recipeToCook-container {
  width: 15%;
  margin-right: 5%;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  background-color: coral;
  height: 16px;
  padding: 1%;
}
.recipeToCook-title {
  width: 85%;
  color: whitesmoke;
}
.recipeToCook-remove {
  border: none;
  width: 15%;
  border-radius: 100%;
  color: whitesmoke;
  background-color: #e74c3c;
  transition: all 0.1s;
}
.recipeToCook-remove:hover {
  /* background-color: #fc7667; */
  cursor: pointer;
  transform: scale(1.2);
}
.ingsToCookTitle {
  margin-bottom: 1%;
}
.ingsToCook {
  width: 84%;
}
.ingToCook-container {
  width: 100%;
  border: olive 1px solid;
  padding: 3px;
}

.openCalc-btn:hover {
  background-color: rgb(245, 195, 68);
}
@keyframes slidein {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* scrollbar */
/*
 *  STYLE 9
 */

#style-9::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

#style-9::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

#style-9::-webkit-scrollbar-thumb {
  background-color: rgb(236, 84, 57);
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}
