/* AddBtn */
.btn {
  margin: 20px;
  padding: 10px;
  border: none;
  font-size: 10px;
  color: #fff;
  transition: all 0.2s;
  cursor: pointer;
  display: inline-block;
}
.add-btn {
  background-color: rgb(2, 83, 2);
}
.add-btn:hover {
  background-color: rgb(8, 141, 8);
}

/* Recipes.jsx */
.container {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title-and-add {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Recipe.jsx */
.recipe-container {
  border: honeydew solid 5px;
  padding-left: 10px;
}
.recipe-btns {
  display: inline-flex;
  flex-direction: column;
  position: fixed;
  right: 10px;
  transform: translateY(50%);
}

.recipe-btns > * {
  cursor: pointer;
  font-size: 15px;
}

/* RecipeAddForm */
.close-btn {
  background-color: #ba000d;
}
.close-btn:hover {
  background-color: #f03a1a;
}
.add-form-container {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.add-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90%;
}
.add-form input,
textarea {
  border: honeydew solid 5px;
}
textarea {
  height: 25%;
}
.submit-form-btn {
  height: 10%;
  border: none;
  background-color: rgb(146, 4, 4);
  color: aliceblue;
}
.add-form-ing {
  display: flex;
  justify-content: space-between;
}
